*.suo
*.user

x64/
x86/
build/
[Bb]in/
[Tt]mp/

*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tli
*.tlh
*.vspscc
*.vssscc
*.scc
*.ncb
*.opensdf
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings

