#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// Russian resources

#ifdef _WIN32
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)
#endif //_WIN32

101           TEXTDATAFILE            "words_win1251.tdt"
102           TEXTDATAFILE            "words_errors_win1251.tdt"

pdf.cfg 291 ".\\fonts\\pdf.cfg"
mac-roman-fixup 291 ".\\fonts\\mac-roman-fixup"
unknown_charset_fixup 291 ".\\fonts\\unknown_charset_fixup"

d050000l.pfb 291 ".\\fonts\\d050000l.pfb"
n019003l.pfb 291 ".\\fonts\\n019003l.pfb"
n019004l.pfb 291 ".\\fonts\\n019004l.pfb"
n019023l.pfb 291 ".\\fonts\\n019023l.pfb"
n019024l.pfb 291 ".\\fonts\\n019024l.pfb"
n021003l.pfb 291 ".\\fonts\\n021003l.pfb"
n021004l.pfb 291 ".\\fonts\\n021004l.pfb"
n021023l.pfb 291 ".\\fonts\\n021023l.pfb"
n021024l.pfb 291 ".\\fonts\\n021024l.pfb"
n022003l.pfb 291 ".\\fonts\\n022003l.pfb"
n022004l.pfb 291 ".\\fonts\\n022004l.pfb"
n022023l.pfb 291 ".\\fonts\\n022023l.pfb"
n022024l.pfb 291 ".\\fonts\\n022024l.pfb"
s050000l.pfb 291 ".\\fonts\\s050000l.pfb"

/////////////////////////////////////////////////////////////////////////////
// Version

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,1,20
 PRODUCTVERSION 1,0,1,9
 FILEFLAGSMASK 0x1fL
#ifdef _DEBUG
 FILEFLAGS 0x9L
#else
 FILEFLAGS 0x8L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904b0"
        BEGIN
            VALUE "Comments", "PDF poppler TBD"
            VALUE "CompanyName", "Controlling Chaos Technologies"
            VALUE "FileDescription", "PDF plugin"
            VALUE "FileVersion", "1, 0, 1, 20"
            VALUE "InternalName", "PDFPlugin"
            VALUE "LegalCopyright", "© Controlling Chaos Technologies 2010. All rights reserved."
            VALUE "OriginalFilename", "pdf_plugin.dll"
            VALUE "PrivateBuild", "private"
            VALUE "ProductName", "GRAPHEX"
            VALUE "ProductVersion", "1, 0, 1, 9"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END

// Version
/////////////////////////////////////////////////////////////////////////////

// Russian resources
/////////////////////////////////////////////////////////////////////////////
